node_modules/
package-lock.json
.vscode
yarn.lock

packed.js

.vscode
.vsc
*/.DS_Store
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*maverick.css
*modverick.css
*opal-vars.css
reshiram-core.css
styles/ngnl.css
