/* Context menu */
#app-mount .bd-layerContainer .bd-contextMenu {
    background-color: rgba(var(--bd-context-menu), .85);
}

#app-mount .bd-layerContainer .bd-contextMenu .bd-item.bd-brand {
    color: rgb(var(--bd-color-link));
}

#app-mount .bd-layerContainer .bd-contextMenu > .bd-itemGroup .bd-clickable:hover {
    background-color: rgba(var(--bd-color-link), .05);
}

#app-mount .bd-layerContainer .bd-contextMenu > .bd-itemGroup > .bd-wrapper {
    display: var(--bd-context-menu-reactions);
}