/* Emoji picker */
#app-mount .bd-emojiPicker:not([aria-labelledby="emoji-picker-tab"]) {
    background-color: rgba(var(--bd-picker), 0.85);
}

#app-mount .bd-emojiPicker .bd-header {
    background-color: transparent;
}

/** Info of currently hovered emote **/
#app-mount .bd-emojiPicker .bd-inspector {
    background-color: rgba(var(--bd-dark), .5);
}

/** Category of emotes **/
#app-mount .bd-categoryList {
    background: transparent;
}

#app-mount .bd-emojiPicker .bd-categoryWrapper,
#app-mount .bd-categoryList .bd-categoryItemDefaultCategorySelected {
    background-color: rgba(var(--bd-darker));
}

/** Input **/
#app-mount .bd-emojiPicker .bd-searchBar {
    background-color: rgb(var(--bd-darker));
}

#app-mount .bd-emojiPicker input {
    color: rgb(var(--bd-color-darker));
}

#app-mount .bd-emojiPicker input::placeholder {
    color: rgb(var(--bd-color-placeholder));
}

/** Diversity picker **/
#app-mount .bd-emojiPicker .bd-diversitySelectorPopout {
    background-color: rgb(var(--bd-dark));
    border-color: rgb(var(--bd-dark));
}

#app-mount .bd-emojiPicker .bd-diversitySelectorPopout .bd-diversityEmojiItem:hover {
    background-color: rgb(var(--bd-light));
}

/** Actual picker **/
#app-mount .bd-emojiPicker .bd-emojiItem.bd-emojiItemSelected {
    background-color: rgba(255, 255, 255, .1);
}