/* Guild list */
/** Guild without server icons **/
#app-mount .bd-unreadMentionsIndicatorTop + .bd-scroller .bd-listItem .bd-childWrapper,
#app-mount .bd-unreadMentionsIndicatorTop + .bd-scroller .bd-listItem .bd-childWrapper,
#app-mount .bd-unreadMentionsIndicatorTop + .bd-scroller .bd-wrapper .bd-childWrapper,
/** Error **/
#app-mount .bd-unreadMentionsIndicatorTop + .bd-scroller .bd-listItem .bd-anchor.bd-guildsError,
/*** Discord icon ***/
#app-mount .bd-unreadMentionsIndicatorTop + .bd-scroller .bd-listItem:nth-child(1) a,
/*** Separator between discord icon and your actual guild list ***/
#app-mount .bd-unreadMentionsIndicatorTop + .bd-scroller .bd-listItem:nth-child(2) .bd-guildSeparator,
/*** Add new guild ***/
#app-mount .bd-unreadMentionsIndicatorTop + .bd-scroller .bd-listItem .bd-circleIconButton,
/*** Invite link with default guild icon ***/
#app-mount .bd-chat > .bd-content .bd-wrapper.bd-userSelectNone.bd-cursorDefault .bd-guildIcon,
/*** Guilds with no default icon in settings ***/
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-guilds .bd-icon.bd-noIcon,
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-avatarUploader .bd-avatarUploaderInner,
#app-mount .bd-perksModalContentWrapper .bd-ctaBar .bd-guildIcon.bd-noIcon /* Server Boost */,
#app-mount .bd-modal .bd-avatarUploaderInner, /* Create new guild */
#app-mount .bd-modal > .bd-inner .bd-flex > .bd-body .bd-guildAvatarWithoutIcon.bd-noIcon /* Mutual servers */,
#app-mount .bd-guildIcon.bd-noIcon /* Lazy LOL */,
#app-mount .bd-guildIconWithoutImage /* Emoji Picker */ {
    background-color: rgb(var(--bd-guild));
}

/** Not rounded guild icons ew **/
#app-mount .bd-icon.bd-iconActiveMedium,
#app-mount .bd-icon.bd-iconSizeMedium {
    border-radius: 50%;
}

/**** Invite link with expired guild icon ****/
#app-mount .bd-chat > .bd-content .bd-wrapper.bd-userSelectNone.bd-cursorDefault .bd-guildIcon.bd-guildIconExpired {
    background-color: transparent;
}

/*** Error ***/
#app-mount .bd-unreadMentionsIndicatorTop + .bd-scroller .bd-listItem .bd-anchor.bd-guildsError {
    border-color: rgb(var(--bd-color-link));
}

/** Folders **/
#app-mount .bd-unreadMentionsIndicatorTop + .bd-scroller .bd-wrapper .bd-folder,
#app-mount .bd-unreadMentionsIndicatorTop + .bd-scroller .bd-wrapper span.bd-expandedFolderBackground {
    background: rgb(var(--bd-guild-folder));
}

#app-mount .bd-unreadMentionsIndicatorTop + .bd-scroller .bd-wrapper .bd-expandedFolderIconWrapper svg path {
    fill: rgb(var(--bd-color-link));
}

/*** Motherfucking piece of shit that made me break my record of not using !important ***/
/*** It's just to make the guild folders single color ***/
#app-mount .bd-unreadMentionsIndicatorTop + .bd-scroller .bd-wrapper .bd-folder .bd-folderIconWrapper[style*="background-color"] {
    background-color: transparent !important;
}

/*** ANOTHER PIECE OF SHIT ***/
/*** How many pings in an unread guild ***/
#app-mount .bd-unreadMentionsIndicatorTop + .bd-scroller .bd-listItem .bd-lowerBadge .bd-numberBadge {
    background-color: rgb(var(--bd-guild-unread)) !important;
}

/** Unread message indicator **/
#app-mount .bd-mention.bd-bar {
    background-color: rgb(var(--bd-guild-unread-bar));
    opacity: 1;
    transition: var(--bd-transition);
}

#app-mount .bd-mention.bd-bar:hover {
    background-color: rgba(var(--bd-guild-unread-bar-hover));
}