/* Inputs */
/** Modal search textarea **/
#app-mount .bd-modal .bd-modal .bd-header .bd-container {
    background-color: rgb(var(--bd-light));
    color: rgb(var(--bd-color-darker));
}

#app-mount .bd-modal .bd-modal .bd-header .bd-container::placeholder {
    color: rgb(var(--bd-color-placeholder));
}

#app-mount .bd-layerContainer .bd-select.bd-lookFilled input,
#app-mount .bd-modal .bd-modal .bd-header .bd-container .bd-input {
    background-color: transparent;
    border-color: transparent;
}

/** Text input or similar **/
#app-mount .bd-modal .bd-input,
#app-mount .bd-modal .bd-copyInput,
#app-mount .bd-modal .bd-css-control,
#app-mount .bd-modal .bd-content .bd-channelTextArea,
#app-mount .bd-layerContainer .bd-modalRoot .bd-input,
#app-mount .bd-layerContainer .bd-modalRoot .bd-select,
#app-mount .bd-layerContainer .bd-container .bd-container.bd-medium,
#app-mount .bd-layerContainer .bd-select.bd-lookFilled,
#app-mount .bd-popouts .bd-popout .bd-css-control,
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-contentColumn .bd-inputWrapper > .bd-input,
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-contentColumn .bd-inputWrapper > .bd-inputMaxLength .bd-input,
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-children .bd-flexChild > * > .bd-inputWrapper > .bd-input,
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-children form .bd-flex .bd-inputWrapper > .bd-input,
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-emojiRow .bd-inputWrapper > .bd-input,
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-content .bd-inputWrapper .bd-input,
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-children .bd-flexChild .bd-container,
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-children .bd-css-control,
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-copyInput {
    border-color: rgba(var(--bd-input-border), .2);
    background-color: rgba(var(--bd-input), .05);
}

#app-mount .bd-leftSplit .bd-wrapper .bd-authBox .bd-input {
    background-color: rgba(var(--bd-default), 0.4);
    border-color: rgba(var(--bd-default), 0.6);
}

#app-mount .bd-modal .bd-input:hover,
#app-mount .bd-modal .bd-copyInput:hover,
#app-mount .bd-modal .bd-css-control:hover,
#app-mount .bd-modal .bd-content .bd-channelTextArea:hover,
#app-mount .bd-layerContainer .bd-modalRoot .bd-input:hover,
#app-mount .bd-layerContainer .bd-modalRoot .bd-select:hover,
#app-mount .bd-layerContainer .bd-container .bd-container.bd-medium:hover,
#app-mount .bd-layerContainer .bd-select.bd-lookFilled:hover,
#app-mount .bd-popouts .bd-popout .bd-css-control:hover,
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-contentColumn .bd-inputWrapper > .bd-input:hover,
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-contentColumn .bd-inputWrapper > .bd-inputMaxLength .bd-input:hover,
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-children .bd-flexChild > * > .bd-inputWrapper > .bd-input:hover,
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-children form .bd-flex .bd-inputWrapper > .bd-input:hover,
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-emojiRow .bd-inputWrapper > .bd-input:hover,
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-content .bd-inputWrapper .bd-input:hover,
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-children .bd-flexChild .bd-container:hover,
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-children .bd-css-control:hover,
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-copyInput:hover {
    border-color: rgba(var(--bd-color-link), .4);
}

#app-mount .bd-leftSplit .bd-wrapper .bd-authBox .bd-input:hover {
    border-color: rgba(var(--bd-lightest), 0.8);
}

#app-mount .bd-modal .bd-input.bd-focused,
#app-mount .bd-modal .bd-input:focus,
#app-mount .bd-modal .bd-css-control:focus,
#app-mount .bd-modal .bd-content .bd-channelTextArea:focus,
#app-mount .bd-layerContainer .bd-modalRoot .bd-input:focus,
#app-mount .bd-layerContainer .bd-modalRoot .bd-select.bd-selectOpen,
#app-mount .bd-layerContainer .bd-container .bd-container.bd-medium:focus,
#app-mount .bd-layerContainer .bd-select.bd-lookFilled.bd-open,
#app-mount .bd-popouts .bd-popout .bd-css-control:focus,
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-contentColumn .bd-inputWrapper > .bd-input:focus,
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-contentColumn .bd-inputWrapper > .bd-inputMaxLength .bd-input:focus,
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-children .bd-flexChild > * > .bd-inputWrapper > .bd-input:focus,
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-children .bd-flexChild > * > .bd-inputWrapper > .bd-input.bd-focused,
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-children form .bd-flex .bd-inputWrapper > .bd-input:focus,
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-emojiRow .bd-inputWrapper > .bd-input:focus,
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-content .bd-inputWrapper .bd-input:focus,
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-children .bd-flexChild .bd-container:focus,
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-children .bd-css-control:focus,
#app-mount .bd-leftSplit .bd-wrapper .bd-authBox .bd-input:focus {
    border-color: rgb(var(--bd-color-link));
}

#app-mount .bd-input {
    color: rgb(var(--bd-color-light));
}

/*** Dropdown for settings ***/
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-children .bd-css-container .bd-css-menu,
#app-mount .bd-modal .bd-css-container .bd-css-menu,
#app-mount .bd-layerContainer .bd-popout,
#app-mount .bd-popouts .bd-popout > .bd-scrollerWrap .bd-scroller,
#app-mount .bd-popouts .bd-popout .bd-css-container .bd-css-menu,
#app-mount .bd-popouts .bd-popout .bd-popout {
    background-color: rgb(var(--bd-default));
    border-color: rgb(var(--bd-darker));
}

#app-mount .bd-layerContainer .bd-popout .bd-option:hover,
#app-mount .bd-layerContainer .bd-popout .bd-option:focus {
    background-color: rgba(var(--bd-lighter), .5);
}

#app-mount .bd-layerContainer .bd-popout .bd-option[aria-selected=true] {
    background-color: rgba(var(--bd-darker), .6);
}

/**** Game activity ****/
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-gameNameInput:hover,
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-gameNameInput:focus {
    border-color: rgba(var(--bd-dark), .5);
    background-color: rgba(var(--bd-color-link-dark), .05);
}

/*** Upload modal ***/
#app-mount .bd-uploadModal .bd-inner .bd-scrollableContainer {
    border-color: rgba(var(--bd-color-link), .2);
    background-color: rgba(var(--bd-darker), .5);
}

/** Radio selects **/
#app-mount [role="radiogroup"] svg {
    display: none;
}

#app-mount [role="radiogroup"] .bd-item[aria-checked=true] {
    background-color: rgb(var(--bd-darker), .8);
}

#app-mount [role="radiogroup"] .bd-item {
    background-color: rgba(var(--bd-lighter), .5);
}

#app-mount [role="radiogroup"] .bd-item:not([aria-checked=true]):hover {
    background-color: rgba(var(--bd-lighter), .4);
}

/*** Settings ***/
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-card:not(.bd-game):not(.bd-emojiRow):not(.bd-keybindGroup),
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-card::before,
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-auditLog .bd-header, /* Audit Log */
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-auditLog .bd-changeDetails {
    background-color: rgba(var(--bd-darker), .3);
    border-color: rgba(var(--bd-darker), .5);
}

#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-auditLog /* Audit Log */ {
    border-color: rgba(var(--bd-darker), .5);
}

#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-card:hover::before,
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-auditLog .bd-headerExpanded {
    background-color: rgba(var(--bd-darker), .5);
    border-color: rgba(var(--bd-darker), .8);
}

#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-cardWrapper {
    background-color: transparent;
}

/** Notification settings */
#app-mount .bd-cardPrimaryOutline {
    border-color: rgba(var(--bd-color-link), .2);
}

#app-mount .bd-cardPrimaryOutline .bd-checkboxContainer::before {
    background-color:  rgba(var(--bd-color-link), .1);
}

/** Checkboxes **/
#app-mount .bd-checkbox {
    color: rgba(var(--bd-checkbox), .2);
    border-color: rgba(var(--bd-checkbox), .2);
}

#app-mount .bd-focused .bd-check {
    color: white;
}

#app-mount .bd-checkbox.bd-checked[style*="border-color"]:not(.bd-round),
#app-mount .bd-checkbox .bd-checkboxInner .bd-checkboxElement:checked + span {
    border-color: rgb(var(--bd-checkbox-border)) !important;
}

#app-mount .bd-checkbox.bd-checked[style*="background-color"]:not(.bd-round),
#app-mount .bd-checkbox .bd-checkboxInner .bd-checkboxElement:checked + span {
    background-color: rgb(var(--bd-checkbox)) !important;
}

#app-mount .bd-checkbox.bd-checked[style*="background-color"]:not(.bd-round) polyline {
    stroke: rgb(var(--bd-checkbox-stroke));
}

#app-mount .bd-checkbox.bd-checked:not(.bd-round) polyline {
    stroke: rgb(var(--bd-checkbox));
}

/*** Circle checkboxes ***/
#app-mount .bd-iconContainer .bd-icon circle {
    color: rgba(var(--bd-checbox))
}

/*** Green checkboxes ***/
#app-mount .bd-checkbox.bd-checked[style*="border-color"].bd-round {
    border-color: rgba(var(--bd-checkbox-border), .2) !important;
}

#app-mount .bd-checkbox.bd-checked[style*="background-color"].bd-round {
    background-color: rgba(var(--bd-checkbox), .05) !important;
}

#app-mount .bd-checkbox.bd-checked[style*="background-color"].bd-round polyline {
    stroke: rgb(var(--bd-checkbox-stroke));
}

/** Sliders **/
#app-mount .bd-control .bd-container[style*="background-color: rgb(114, 118, 125)"] {
    background-color: rgb(var(--bd-slider-unchecked)) !important;
}

#app-mount .bd-control .bd-container {
    background-color: rgb(var(--bd-slider-checked)) !important;
}

#app-mount .bd-control .bd-container .bd-slider svg {
    display: none;
}

/** Super long sliders **/
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-slider .bd-bar {
    background-color: rgba(var(--bd-color-link-dark), .5);
}

#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-slider .bd-bar .bd-barFill {
    background-color: rgb(var(--bd-color-link));
}

#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-slider .bd-track .bd-grabber {
    background-color: rgb(var(--bd-monochrome-contrast));
}

/** Nitro server plan selector **/
/*** + - ***/
#app-mount .bd-layerContainer .bd-root.bd-fullscreenOnMobile .bd-bodyWrapper .bd-iconWrapper {
    background-color: rgb(var(--bd-color-link-dark));
}

#app-mount .bd-layerContainer .bd-root.bd-fullscreenOnMobile .bd-bodyWrapper .bd-iconWrapper {
    color: rgb(var(--bd-monochrome-contrast));
}

#app-mount .bd-layerContainer .bd-root.bd-fullscreenOnMobile .bd-bodyWrapper .bd-inputWrapper .bd-input {
    background-color: rgb(var(--bd-lightest));
}