/* Jump tos */
#app-mount .bd-base .bd-chat .bd-content .bd-newMessagesBar,
#app-mount .bd-base .bd-chat .bd-content .bd-jumpToPresentBar,
#app-mount .bd-base .bd-sidebar .bd-unread.bd-bar,
#app-mount .bd-channelTextArea > .bd-container {
    background-color: rgba(var(--bd-jumpto));
}

#app-mount .bd-base .bd-chat .bd-content .bd-newMessagesBar:hover,
#app-mount .bd-base .bd-chat .bd-content .bd-jumpToPresentBar:hover,
#app-mount .bd-base .bd-sidebar .bd-unread.bd-bar:hover,
#app-mount .bd-channelTextArea > .bd-container:hover {
    background-color: rgba(var(--bd-jumpto-hover));
}