/* Links */
#app-mount a.bd-anchor,
#app-mount a.bd-anchor.bd-embedLink,
#app-mount span.bd-fakeLink,
#app-mount button.bd-lookLink.bd-colorBrand {
    color: rgb(var(--bd-color-link)) !important;
    text-shadow: var(--bd-link-shadows);
    text-decoration: none;
}

#app-mount a.bd-anchor:hover,
#app-mount a.bd-anchor.bd-embedLink:hover,
#app-mount span.bd-fakeLink:hover,
#app-mount button.bd-lookLink.bd-colorBrand:hover {
    color: rgb(var(--bd-color-link-hovered)) !important;
    text-shadow: var(--bd-link-shadows-hover);
    text-decoration: none;
    transition: all .4s linear 0s;
}

#app-mount button.bd-lookLink.bd-colorBrand:hover .bd-contents {
    background: none;
}