/* Pins and Inbox */
#app-mount .bd-layerContainer :-webkit-any(.bd-messagesPopoutWrap, .bd-recentMentionsPopout) {
    background-color: rgba(var(--bd-popout-bg), .95);
    border-color: transparent;
    box-shadow: none;
}

/** Pins and Inbox popout header and footer **/
#app-mount .bd-layerContainer :-webkit-any(.bd-messagesPopoutWrap, .bd-recentMentionsPopout) > .bd-header,
#app-mount .bd-layerContainer :-webkit-any(.bd-messagesPopoutWrap, .bd-recentMentionsPopout) > .bd-footer {
    background-color: rgba(var(--bd-popout-header-footer), .9);
    box-shadow: none;
}

/** Tutorial for all **/
#app-mount .bd-layerContainer :-webkit-any(.bd-messagesPopoutWrap, .bd-recentMentionsPopout) .bd-tutorial {
    background-color: rgba(var(--bd-popout-message-bg), .3);
    border-color: transparent;
}

#app-mount .bd-layerContainer :-webkit-any(.bd-messagesPopoutWrap, .bd-recentMentionsPopout) .bd-tutorial .bd-tutorialIcon {
    background-color: rgb(var(--bd-default));
}

/** Pinned popout messages **/
#app-mount .bd-layerContainer :-webkit-any(.bd-messagesPopoutWrap, .bd-recentMentionsPopout) .bd-messageGroupWrapper {
    background-color: rgba(var(--bd-popout-message-bg), .3);
    border-color: transparent;
}

#app-mount .bd-layerContainer :-webkit-any(.bd-messagesPopoutWrap, .bd-recentMentionsPopout) .bd-messageGroupWrapper:hover {
    border-color: transparent;
}

/** Recent Mentions, Unreads **/
#app-mount :-webkit-any(.bd-messagesPopoutWrap, .bd-recentMentionsPopout) .bd-header .bd-item.bd-selected,
#app-mount :-webkit-any(.bd-messagesPopoutWrap, .bd-recentMentionsPopout) .bd-header .bd-button.bd-secondary {
    background-color: rgb(var(--bd-lighter));
}

#app-mount :-webkit-any(.bd-messagesPopoutWrap, .bd-recentMentionsPopout) .bd-channelHeader,
#app-mount :-webkit-any(.bd-messagesPopoutWrap, .bd-recentMentionsPopout) .bd-messageContainer,
#app-mount :-webkit-any(.bd-messagesPopoutWrap, .bd-recentMentionsPopout) .bd-messages {
    background-color: rgba(var(--bd-lighter));
}

#app-mount :-webkit-any(.bd-messagesPopoutWrap, .bd-recentMentionsPopout) .bd-channelHeader {
    border-radius: 8px 8px 0 0;
    padding: 12px 16px;
}

#app-mount :-webkit-any(.bd-messagesPopoutWrap, .bd-recentMentionsPopout) .bd-channelHeader .bd-guildIcon.bd-noIcon{
    background: rgb(var(--bd-default));
}

#app-mount .bd-recentMentionsPopout:not(.bd-messagesPopoutWrap) .bd-channelHeader {
    padding: 12px 16px 12px 30px;
}

#app-mount :-webkit-any(.bd-messagesPopoutWrap, .bd-recentMentionsPopout) .bd-messageContainer,
#app-mount :-webkit-any(.bd-messagesPopoutWrap, .bd-recentMentionsPopout) .bd-messages {
    border-radius: 0 0 8px 8px;
}