/* Settings */
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]),
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView,
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView .bd-sidebarRegionScroller,
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView .bd-contentRegionScroller,
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView .bd-contentRegionScroller .bd-scrollerBase {
    background-color: transparent;
}

/** List **/
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-sidebarRegion {
    background-color: rgba(var(--bd-settings-sidebar), 0.4);
}

#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-sidebarRegion .bd-sidebar .bd-item.bd-selected,
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-sidebarRegion .bd-sidebar .bd-item.bd-selected:hover {
    background-color: rgba(var(--bd-settings-sidebar-item), 0.4);
}

#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-sidebarRegion .bd-sidebar .bd-item:hover {
    background-color: rgba(var(--bd-settings-sidebar-item-hover), 0.2);
}

/*** Server Boost / Nitro ***/
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-sidebarRegion .bd-sidebar .bd-item[style*="color: rgb(114, 137, 218)"] {
    color: rgb(var(--bd-color-link)) !important;
}

#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-sidebarRegion .bd-sidebar .bd-item[style*="color: rgb(114, 137, 218)"]:hover {
    background-color: rgba(var(--bd-color-link), .1) !important;
}

#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-sidebarRegion .bd-sidebar .bd-item[style*="color: rgb(255, 255, 255)"],
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-sidebarRegion .bd-sidebar .bd-item[style*="color: rgb(255, 255, 255)"]:hover {
    color: rgb(var(--bd-monochrome-contrast)) !important;
}

#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-sidebarRegion .bd-sidebar .bd-item[style*="background-color: rgb(114, 137, 218)"],
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-sidebarRegion .bd-sidebar .bd-item[style*="background-color: rgb(114, 137, 218)"]:hover {
    background-color: rgb(var(--bd-color-link)) !important;
}

/** Actual settings **/
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion {
    background-color: rgba(var(--bd-settings-content), .1);
}

/** Tabs **/
/** Not every tab has individual styles because of general selectors. Thank god for that. **/
/*** My account ***/
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-children .bd-background {
    background-color: rgba(var(--bd-darker), .4);
}

#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-children .bd-background .bd-fieldList {
    background-color: transparent;
}

/*** Connections ***/
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-accountList {
    background-color: rgba(var(--bd-lighter), .25);
}

#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-accountList .bd-accountBtnInner {
    background-color: rgba(var(--bd-default), .4);
}

#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-accountList .bd-accountBtnInner:hover {
    background-color: rgba(var(--bd-default), .6);
}

/**** Connection items ****/
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-connection {
    background-color: rgba(var(--bd-default), .5);
}

#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-connection .bd-connectionHeader {
    background-color: rgba(var(--bd-darker), .4);
}

/*** Biling ***/
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-paymentHistory .bd-paymentPane {
    background-color: rgba(var(--bd-default), .5);
}

#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-paymentHistory .bd-paymentPane .bd-paginator,
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-paymentHistory .bd-paymentPane .bd-paginator .bd-payment {
    background-color: transparent;
}

#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-paymentHistory .bd-paymentPane .bd-paginator .bd-payment .bd-expandedInfo {
    background-color: rgba(var(--bd-lighter), .5);
}

#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-paymentHistory .bd-paymentPane .bd-paginator .bd-payment .bd-expandedInfo .bd-paymentHeader {
    border-color: rgba(255, 255, 255, .1);
}

/**** Navigation ****/
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-pageActions .bd-pageButtonNext,
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-pageActions .bd-pageButtonPrev,
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-pageActions .bd-pageIndicator  {
    border-color: rgba(255, 255, 255, .1);
}

/*** Server Boost ***/
/**** Active boosts ****/
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-guild .bd-guildHeader {
    background-color: rgba(var(--bd-darker), .6);
}

#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-guild .bd-guildSubscriptionSlots {
    background-color: rgba(var(--bd-lighter), .4);
}

/**** Boost level ****/
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-gemIndicatorContainer {
    background-color: rgba(var(--bd-lighter), .5);
}

#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-gemIndicatorContainer .bd-gemWithoutLabel {
    color: rgb(var(--bd-color-link));
}

#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-gemIndicatorProgressCircle .bd-circleBackgroundAlt {
    fill: rgba(255, 255, 255, 0.1);
}

/*** Voice & Video ***/
#app-mount .bd-layer[aria-label$="_SETTINGS"] .bd-standardSidebarView > .bd-contentRegion .bd-previewContainer .bd-previewOverlay {
    background-color: rgba(var(--bd-default), .4);
    border-color: rgba(var(--bd-default), .8);
}

/*** Game Activity ***/
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-activeGame.bd-notDetected {
    background-color: rgba(var(--bd-default), .5)
}

#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-activeGame {
    background-color: rgba(var(--bd-color-link), .5)
}

#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-card.bd-game:not(:last-of-type),
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-card.bd-emojiRow:not(:last-of-type),
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-card.bd-member:not(:last-of-type),
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-card.bd-bannedUser:not(:last-of-type),
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-card.bd-inviteSettingsInviteRow:not(:last-of-type),
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-card.bd-keybindGroup:not(:last-of-type) {
    margin-bottom: 10px;
}

#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-card.bd-game,
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-card.bd-emojiRow,
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-card.bd-member,
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-card.bd-bannedUser,
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-card.bd-keybindGroup {
    padding: 20px;
}

#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-card.bd-inviteSettingsInviteRow {
    padding: 0 20px;
}

#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-card::before {
    opacity: 1;
    bottom: 0;
    left: 0;
    right: 0;
    transition: var(--bd-transition);
}

/*** Language ***/
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-children .bd-noWrap.bd-item:not(.bd-vertical)
{
    background-color: rgba(var(--bd-color-link), .1);
    border: 1px solid rgba(var(--bd-color-link), .1);
    border-radius: 5px;
    transition: var(--bd-transition);
}

#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-children .bd-noWrap.bd-item:not(.bd-vertical):hover {
    background-color: rgba(var(--bd-color-link), .2);
    border: 1px solid rgba(var(--bd-color-link), .2);
}

#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-children .bd-noWrap.bd-item:not(.bd-vertical):not(:last-of-type) {
    margin-bottom: 10px;
}

/*** Audit Log ***/
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-auditLog:nth-of-type(2) {
    margin-top: 10px;
}

/*** Server Template ***/
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-contentColumn .bd-descriptionBox {
    background-color: rgba(var(--bd-default), .3);
}

/** Unsaved changes **/
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-noticeRegion .bd-container {
    background-color: rgba(var(--bd-default), .7) !important; /* No oher way, sadly */
}

/** Misc **/
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-noWrap:last-of-type .bd-divider {
    display: none;
}

#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion .bd-bottomDivider {
    border-color: rgba(255, 255, 255, .1);
}

#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-standardSidebarView > .bd-contentRegion [class*="marginBottom"]:last-of-type {
    margin-bottom: none;
}

/*** Audit Log filters ***/
#app-mount .bd-layerContainer .bd-list .bd-item.bd-selectedBrand {
    background-color: rgb(var(--bd-color-link));
    color: rgb(var(--bd-monochrome-contrast));
}

#app-mount .bd-layerContainer .bd-list .bd-item:hover {
    background-color: rgb(var(--bd-lighter));
}