/*** Click server boost from settings */
#app-mount .bd-subscribeTooltipWrapper,
#app-mount .bd-layerContainer .bd-layer .bd-tooltip,
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-grabber .bd-bubble {
    background-color: rgba(var(--bd-tooltips));
}

#app-mount .bd-layerContainer .bd-layer .bd-tooltip > *,
#app-mount .bd-layer:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) .bd-grabber .bd-bubble::before {
    border-top-color: rgba(var(--bd-tooltips));
}

#app-mount .bd-subscribeTooltipWrapper::after {
    border-bottom-color: rgba(var(--bd-tooltips));
}