/* User popouts */
/** Reverting shitty designer choices **/
#app-mount .bd-userPopout {
    width: 240px !important; /* No other way, sadly */
}

#app-mount .bd-userPopout .bd-headerNormal .bd-profileBanner {
    display: none;
}

#app-mount .bd-userPopout .bd-headerNormal .bd-headerTop {
    text-align: center;
    padding-top: 108px;
}

#app-mount .bd-userPopout .bd-headerNormal .bd-headerTop .bd-size20 {
    font-size: 16px;
    line-height: 16px;
}

#app-mount .bd-userPopout .bd-headerNormal .bd-headerTop .bd-profileBadges,
#app-mount .bd-userPopout .bd-headerNormal .bd-headerTop .bd-setIdentityLink {
    display: none;
}

#app-mount .bd-userPopout .bd-headerNormal .bd-avatarWrapperNormal {
    left: 50%;
    transform: translate(-50%);
}

#app-mount .bd-userPopout .bd-headerNormal .bd-avatarWrapperNormal .bd-avatar {
    border: none;
    background: none;
}

#app-mount .bd-userPopout .bd-headerNormal .bd-avatarWrapperNormal .bd-avatarHint {
    top: 0;
    left: 0;
}

#app-mount .bd-userPopout .bd-headerNormal .bd-activityUserPopout {
    padding: 16px;
}

/** Header colors **/
#app-mount .bd-userPopout .bd-headerNormal,
#app-mount .bd-modal .bd-inner .bd-topSectionNormal {
    background-color: rgba(var(--bd-user-popouts-header), .95);
}

#app-mount .bd-userPopout .bd-headerPlaying,
#app-mount .bd-modal .bd-inner .bd-topSectionPlaying {
    background-color: rgba(var(--bd-user-popouts-header-playing), .95);
}

#app-mount .bd-userPopout .bd-headerStreaming,
#app-mount .bd-modal .bd-inner .bd-topSectionStreaming {
    background-color: rgba(var(--bd-user-popouts-header-streaming), .95);
}

#app-mount .bd-userPopout .bd-headerSpotify,
#app-mount .bd-modal .bd-inner .bd-topSectionSpotify {
    background-color: rgba(var(--bd-user-popouts-header-spotify), .95);
}

/** Add role to someone **/
#app-mount .bd-layerContainer .bd-layer .bd-container header.bd-header {
    background-color: rgba(var(--bd-user-popouts-header), .95)
}

#app-mount .bd-layerContainer .bd-layer .bd-container .bd-sectionTag .bd-row.bd-selected {
    background: rgba(var(--bd-lightest), .4);
}

/*** Send Message with regular status ***/
#app-mount .bd-modal .bd-inner .bd-topSectionNormal .bd-button.bd-lookFilled {
    background-color: rgb(var(--bd-color-link));
}

/**** Bots ****/
#app-mount .bd-userPopout .bd-headerNormal .bd-botTagRegular,
#app-mount .bd-modal .bd-inner .bd-topSectionNormal .bd-botTagRegular {
    background-color: rgb(var(--bd-color-link));
}

/*** Send Message with !regular status ***/
#app-mount .bd-modal .bd-inner .bd-topSectionPlaying .bd-lookInverted,
#app-mount .bd-modal .bd-inner .bd-topSectionSpotify .bd-lookInverted,
#app-mount .bd-modal .bd-inner .bd-topSectionStreaming .bd-lookInverted {
    color: rgb(var(--bd-color-link));
}

/**** Bots ****/
#app-mount .bd-userPopout .bd-headerPlaying .bd-botTagInvert,
#app-mount .bd-modal .bd-inner .bd-topSectionPlaying .bd-headerInfo .bd-botTagInvert {
    color: rgb(var(--bd-color-link));
}

/** Body **/
#app-mount .bd-userPopout .bd-body:not(.bd-bodyAlignCenter):not(.bd-bodyNormal),
#app-mount .bd-modal .bd-inner .bd-flex .bd-body:not(.bd-bodyAlignCenter):not(.bd-bodyNormal) {
    background-color: rgba(var(--bd-user-popouts-body), .95);
}

#app-mount .bd-userPopout .bd-footer {
    background-color: rgba(var(--bd-user-popouts-footer), .95);
}

#app-mount .bd-userPopout .bd-body .bd-note textarea:focus,
#app-mount .bd-modal .bd-inner .bd-flex .bd-body .bd-note textarea:focus {
    background-color: rgba(var(--bd-user-popouts-notes-focus), .7);
}

#app-mount .bd-userPopout .bd-footer .bd-input {
    background-color: rgba(var(--bd-user-popouts-message), .65);
    border-color: transparent;
    transition: var(--bd-transition);
}

#app-mount .bd-userPopout .bd-footer .bd-input:hover,
#app-mount .bd-userPopout .bd-footer .bd-input:focus {
    background-color: rgba(var(--bd-user-popouts-message), .95);
}

/** Tabs **/
#app-mount .bd-tabBarContainer {
    border-top-color: rgba(255, 255, 255, .1);
}