/* Just for example, and only the defaults, please edit these */
/* Derived themes should start with a copy of this ruleset with modified values */
:root {
    --bd-background-image: url();
    --bd-background-color: #000000;
    --bd-background-filter: blur(10px);

    /* Text colors */
    --bd-color-link: #00b0f4;
    --bd-color-link-hovered: #00b0f4;
    --bd-color-mention: var(--bd-color-link);

    /* Stroke colors */
    --bd-color-checkbox-stroke: #7289da;

    /* Text shadows */
    --bd-text-shadows-link: 0 0 2.5px transparent, 0 0 2.5px transparent;
    --bd-text-shadows-link-hovered: 0 0 2.5px #25c2ff, 0 0 2.5px #25c2ff;

    /* Misc background colors */
    --bd-bgcolor-topbar: #000000;
    --bd-bgcolor-auth-box: #ffffff;
    --bd-bgcolor-mention: transparent;

    /* All borders default to transparent */
}