/* Just for example, and only the defaults, please edit these */
/* Derived themes should start with a copy of this ruleset with modified values */
/* Some values are rgb */
:not(.day) > #app-mount::before,
:not(.day) > #app-mount .bd-app > .bd-app > .bd-bg::before {
    transform: scaleX(-1);
}

:root {
    /* Main background */
    --bd-background-image: url('https://cdn.discordapp.com/attachments/595506142126538753/830876691474939974/68292953_p1.png');
    --bd-background-position: top left;
    --bd-background-color: rgb(var(--bd-default));
    --bd-background-brightness: brightness(.35);
    --bd-background-contrast: contrast(1.1);
    --bd-background-blur: blur(0);

    /* Main colors */
    --bd-default: 41, 0, 56;
    --bd-lightest: 86, 0, 117; /* Status */
    --bd-lighter: 53, 0, 72; /* Guild, tooltips */
    --bd-light: 46, 5, 59; /* Pins, userpopout */
    --bd-dark: 34, 0, 45; /* Search, settings */
    --bd-darker: 30, 0, 41;

    /* Depth */
    --bd-depth-title: rgba(var(--bd-default), 0);
    --bd-depth-guilds-list: rgba(var(--bd-default), 0);
    --bd-depth-sidebar: rgba(var(--bd-default), 0);
    --bd-depth-userbox: rgba(var(--bd-default), 0); /* I have no idea */

    /* Text colors */
    --bd-color-link: 211, 89, 255;
    --bd-color-link-dark: 154, 8, 208;
    --bd-color-link-hovered: 217, 112, 255;
    --bd-color-link-hovered-shadow: 180, 45, 230;

    /* Whatever big word but */
    /* if (theme == light) { */
    /*     this.value = black; */
    /* else { */
    /*     this.value = white; */
    /* } */
    --bd-monochrome-contrast: 255, 255, 255;
}