#dayNightSwitch {
    margin: 0 6px;
}

#dayNightLabel-left:empty {
    margin: 0 -14px;
}

#dayNightLabel-left:before,
#dayNightLabel-left:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: .5s;
    outline: none;
}

#dayNightToggle input[type=checkbox],
#dayNightToggle input[type=checkbox]:active {
    height: 0;
    width: 0;
    display: none;
}

#dayNightToggle label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    color: rgba(149, 149, 149, 0.51);
}

#dayNightLabel-left:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    line-height: 34px;
    text-indent: 40px;
    height: 14px;
    width: 14px;
    margin: 4px;
    border-radius: 100%;
    right: 28px;
    bottom: 0px;
    background: #ff916b;
    transform: rotate(-45deg);
    box-shadow: 0 0 10px #ff916b;
}

#dayNightLabel-left:after {
    content: "";
    display: inline-block;
    width: 40px;
    height: 22px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.15);
    vertical-align: middle;
    margin: 0 10px;
    border: 2px solid #ff916b;
}

#dayNightToggle input[type=checkbox]:checked + #dayNightLabel-left:before {
    right: 17px;
    box-shadow: 5px 5px 0 0 #b9bbbe;
    background: transparent;
}

#dayNightToggle input[type=checkbox]:checked + #dayNightLabel-left:after {
    background: rgba(0, 0, 0, 0.15);
    border: 2px solid #b9bbbe;
}

#dayNightToggle input[type=checkbox] + #dayNightLabel-left {
    color: rgba(250, 250, 250, 0.51);
    font-weight: bold;
}

#dayNightToggle input[type=checkbox]:checked + #dayNightLabel-left {
    color: rgba(149, 149, 149, 0.51);
    font-weight: normal;
}

#dayNightToggle input[type=checkbox]:checked + #dayNightLabel-left + #dayNightLabel {
    color: rgba(250, 250, 250, 0.51);
    font-weight: bold;
}

/* Make background changes smoother */
#app-mount div.bd-app > div.bd-app > div.bd-layers > div[role="dialog"].bd-layer::before,
#app-mount div.bd-container div.bd-wrapper.bd-guilds,
#app-mount div.bd-titleBar.bd-typeMacOS,
#app-mount div.bd-container div.bd-sidebar:not(.bd-flex),
#app-mount div.bd-container div.bd-privateChannels,
#app-mount div.bd-container div.bd-privateChannels div.bd-scroller,
#app-mount div.bd-base div.bd-content div.bd-sidebar > div.bd-container,
#app-mount div.bd-panels,
#app-mount div.bd-chat > div.bd-title,
#app-mount div.bd-chat > div.bd-content div.bd-membersWrap,
#app-mount div.bd-searchResultsWrap,
#app-mount div.bd-channelTextArea .bd-inner {
    transition: .5s ease;
}